* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica,sans-serif;
    color: #0c0c0c;
    
}
.body{
     background-image: url(Background.jpg);
     }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #8c1010;
}
.active {
    background-color: #fafafa;
}
h1,h2,h3,h4,h5,h6,h7{
    font-family: sans-serif;
    font-size: 17;
}

div.img
 {
    border: 1px solid #ccc;
     max-width:500px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    max-width:500px;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
@media (min-width:1281px) {}
@media (min-width:961px) {}
@media (min-width:641px){
 .responsive {
        width: 100%;
    
    }


.clearfix:after 
{
    content: "";
    display: table;
    clear: both; 
}
}
@media (min-width:481px) {}
@media (min-width:240px){}
